* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url("images/bj.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#app {
  margin: 100px auto;
  width: 800px;
  height: 500px;
  border: 1px solid skyblue;
}
#app .navs {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #39abd8;
}
#app .navs .navs-gc {
  width: 400px;
  height: 50px;
  background-color: white;
}
#app .navs .navs-img {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  flex: 1;
}
#app .navs .navs-img img {
  width: 44px;
  height: 22px;
}
#app .navs .navs-content {
  padding-right: 20px;
  position: relative;
  flex: 9;
  height: 50px;
  text-align: right;
  line-height: 50px;
}
#app .navs .navs-content input {
  background-color: #89d1ea;
  border: none;
  width: 220px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
}
#app .navs .navs-content img {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 15px;
  height: 15px;
}
#app .content {
  display: flex;
  width: 100%;
}
#app .content .left {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 435px;
  box-sizing: border-box;
  padding: 10px;
  list-style: none;
  z-index: 1;
  color: white;
}
#app .content .left .song_wrapper {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
#app .content .left .song_wrapper .song_list {
  font-size: 12px;
  color: #333;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 580px;
  padding-left: 10px;
}
#app .content .left .song_wrapper .song_list a {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("images/play.png");
  background-size: 100%;
  margin-right: 5px;
  box-sizing: border-box;
}
#app .content .left .song_wrapper .song_list b {
  font-weight: normal;
  width: 122px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}
#app .content .left .song_wrapper .song_list span {
  width: 23px;
  height: 17px;
  margin-right: 50px;
}
#app .content .left .song_wrapper .song_list span i {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url("images/table.png") left -48px no-repeat;
}
#app .content .left .song_list:nth-child(2n) {
  background-color: pink;
}
#app .content .left .song_wrapper::-webkit-scrollbar {
  display: none;
}
#app .content .left .switch_btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
#app .content .right {
  width: 180px;
  height: 435px;
  list-style: none;
}
#app .content .right .comment_list {
  overflow: auto;
  height: 410px;
}
#app .content .right .comment_list dl dt img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#app .content .right .comment_list dl .name {
  font-weight: bold;
  color: #333;
  padding-top: 5px;
}
#app .content .right .comment_list dl .detail {
  color: #666;
  margin-top: 5px;
  line-height: 18px;
}
#app .content .right .comment_list::-webkit-scrollbar {
  display: none;
}
#app .bottom {
  display: flex;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background-color: #f1f3f4;
}
#app .bottom .bottom_right {
  display: none;
  width: 10%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: pink;
  overflow-x: hidden;
  overflow-y: scroll;
}
#app .bottom audio {
  height: 40px;
  width: 90%;
}
#app .lyrics {
  margin: auto;
  width: 300px;
  height: 60px;
  background-color: rgba(225, 212, 223, 0.5);
}
#app .video_con {
  width: 800px;
  height: 400px;
  position: relative;
}
#app .video_con video {
  width: 100%;
  height: 100%;
}
#app .video_con .mask {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
}
.player_con {
  width: 400px;
  height: 435px;
  position: relative;
}
.disc {
  position: absolute;
  left: 73px;
  top: 60px;
  z-index: 9;
}
.cover {
  position: absolute;
  left: 125px;
  top: 112px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  z-index: 8;
}
/* 是否正在播放 */
.player_con.playing .disc,
.player_con.playing .cover {
  animation-play-state: running;
}
.play_bar {
  position: absolute;
  left: 200px;
  top: -10px;
  z-index: 10;
  transform: rotate(-25deg);
  transform-origin: 12px 12px;
  transition: 1s;
}
/* 播放杆 转回去 */
.player_con.playing .play_bar {
  transform: rotate(0);
}
@keyframes Rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.autoRotate {
  animation-name: Rotate;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-duration: 5s;
}
